{% extends 'recordatorios/Base.html' %}

{% block contenido %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-white text-center" style='background-color: #42454e;'>
                    <h2 class="font-weight-bold">Cambiar contraseña</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class='row justify-content-center'>
                            <div class='col text-center mb-3'>
                                Contraseña actual: {{ form.old_password }}
                            </div>
                            </div>
                            <div class='col text-center mb-3'>
                                Nueva contraseña: {{ form.new_password1}}
                            </div>
                            <div class='col text-center mb-3'>
                                Confirmar contraseña: {{ form.new_password2 }}
                            </div>
                        </div>
                        <div class='d-flex justify-content-center'>
                            <button class="btn btn-outline-dark btn-block mb-3" type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br></br>

{% endblock %}